#body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0 0 0;
}

.item {
    padding: 0 7rem;
    height: 15rem;
}

.il h1, .il h2 {
    position: relative;
    font-weight: 400;
    margin: 0;
}

.il h1{
    font-size: 96px;
}

.il h2 {
    font-size: 64px;
    bottom: 4.5rem;
    left: 1.5rem;
    background-color: transparent;
}

.ir p{
    font-size: 30px;
}

.ir .btn{
    position: relative;
    bottom: 2rem;
    padding: 0.8rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    float: right;
}

.ir .btn:hover{
    cursor: pointer;
}