#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 4rem;
}


.logo {
    width: 8rem;
}

#header-m {
    display: flex;
    position:relative;
    top: 2.5rem;
}
#header-m .item {
    margin: 1rem;
    font-size: 24px;
    font-weight: 900;
}

#header-m .item :hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn-settings {
    border: 0;
    margin: 0;
}

.btn-settings :hover {
    cursor: pointer;
}